.overdue .accordion-button {
  background-image: linear-gradient(to bottom right, #F3B7A5, #E4572E) !important
}

.done .accordion-button {
  background-image: linear-gradient(to bottom right, #B7D897, #76B041) !important;
}

.in-progress .accordion-button{
  background-image: linear-gradient(to bottom right, #FFE285, #FFC914) !important;
}

.weather-icon {
  height: 50px;
  width: 50px;
}