.overdue .accordion-button {
  background-image: linear-gradient(to bottom right, #ffcccc, #fb7171) !important
}

.done .accordion-button {
  background-image: linear-gradient(to bottom right, #ccffe6, #50fab9) !important;
}

.in-progress .accordion-button{
  background-image: linear-gradient(to bottom right, #f4ffcc, #f8d84c) !important;
}
